.countryCard,
.NeighbourCard {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
  .NeighbourCard {
    width: 12rem !important;
  }
}
